{% extends 'base.html' %}

{%block title %}Add Candidate{% endblock %}
{% block body_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <form method='post' action="{% url 'add_candidate' %}" enctype="multipart/form-data">{% csrf_token %}
		{{ form.as_p }}
			
		<button class="btn btn-primary" name="call_candidate" type="submit">
		<i class="icon-user icon-white"></i>Add candidate and call right now
		</button>
		<button class="btn btn-primary" name="save" type="submit" value='Just add this candidate'>
		<i class="icon-user icon-white"></i>Just add candidate
		</button>
		</form>
      </div>
    </div>

{% endblock %}
