{% include 'copyright_shit.html' %}

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head>
		{% include 'head_css_stuff.html' %}
		<title>Staff Recruiting | {%block title %}{% endblock %}</title>

	</head>

	<body>
		{% include 'navbar.html' %}
		{% if user.is_authenticated %}
			{% block body_content %}{% endblock %}
		{% else %}
			<div class="jumbotron">
				<div class="container">
					<div class="col-md-6 col-md-offset-3">
					<h1 "page-header">Please log in to continue...</h1>
					</div>
				</div>
			</div>
		{% endif %}
		{% include 'javascript.html' %}
	</body>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-10 main">  
				<hr>
				<footer>
					<p>&copy; Created by Jerson Mendez</p>
				</footer>
			</div>
		</div>
	</div>
</html>
