{% include 'copyright_shit.html' %}

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
{% include 'head_css_stuff.html' %}
<title>Staff Recruiting | {%block title %}{% endblock %}</title>

<script type="text/javascript">
function showResult(str) {
  if (str.length==0) { 
    document.getElementById("livesearch").innerHTML="";
    document.getElementById("livesearch").style.border="0px";
    return;
  }
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {
      document.getElementById("livesearch").innerHTML=xmlhttp.responseText;
      document.getElementById("livesearch").style.border="1px solid #A5ACB2";
    }
  }
  xmlhttp.open("GET","livesearch.php?q="+str,true);
  xmlhttp.send();
}

</script>
</head>

<body>
	
{% include 'navbar.html' %}
	
{% block body_content %}
	
{% endblock %}

{% include 'javascript.html' %}

</body>
   
<div class="row">
  <div class="col-sm-9 col-md-10 main">  
  
  <hr>
  <footer>
	<p>&copy; Created by Jerson Mendez</p>
  </footer>
  </div>
</div>
</html>
