{% extends 'base.html' %}
{% block title %}Candidate's view{% endblock %}
{% block body_content %}

<div class="jumbotron">
    <div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-9">
				<h2 class="cover-heading">Available candidates for: {{ position.name }} position</h2>

			</div>
		</div>
	</div>
</div>
{% for candidate in candidates %}

    <div class="container">
      <div class="row">
        <div class="col-md-1">
		</div> 
		<div class="col-md-4">
	    <h1>{{ candidate.name }}</h1>
	    <p>{{ candidate.phone }}</p>
	    <p>{{ candidate.email }}</p>
	    <p>{{ candidate.resume }}</p>
	    </p><br><br><br><br>
	    
        </div>
            
        <div class="col-md-2">
        <p class="lead"><a class="btn btn-lg btn-primary" href="{% url 'in_call' position_id=position.id candidate_id=candidate.id %}" role="button">Call this candidate &raquo;</a>
		</p>
		<p class="lead">
	    <a href="#" class="btn btn-lg btn-default">Click here to see history</a>
	    </p>
		</div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
