{% extends 'base.html' %}

{%block title %}In call Procedure{% endblock %}
{% block body_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
   
    
        <h3>Candidate's name: {{ candidate.name }}</h3>
        <h3>Candidate's number: {{ candidate.phone }}</h3>
        <h3><a href="{{ candidate.resume.url }}">Candidate's resume</a></span></h3><br>
        <h2>Call in progress...</h2><br>
        <h3>Hi {{ candidate.name }}, my name is {{ request.user.recruiter.name }} {{ request.user.recruiter.last_name }}, I am a Staff Recruiter from Barrister, a nation-wide agency providing full time jobs. I found your resume online and I believe you might be a good candidate for this position. Do you have a moment to discuss this opportunity?</h3><br><br>
        <p>Annual salary: {{ position.salary_anual }}</p><br>
        <p>Job Location: {{ position.location }}</p><br> 
        <p>
        Job description:
		</p><br>
        <pre style="background-color:white;font-size:18px">{{ position.description }}
        </pre>
		<p>
		<br>
        Required skills:
        </p>
        <pre style="background-color:white;font-size:18px">{{ position.skills }}
        </pre>
        <br><br>
	  
		<div class="form-group">

		<form method='post' action="{% url 'disposition' position_id=position.id candidate_id=candidate.id %}" enctype="multipart/form-data">{% csrf_token %}
		<div class="row">
				<div class="col-sm-9 col-md-6">
					{{ form }}<br>
				</div>
			</div>
		</div>

		<div class="row">
    {% for logtemplate in logtemplates %}

	        <button type="submit" name="{{ logtemplate.action }}" class="btn btn-primary">
			    <i class="icon-user icon-white"></i>{{ logtemplate.action }}
		    </button>
    {% endfor %}
        </form>
      </div>
   
  </div>
      </div>
	</div>
{% endblock %}
