{% extends 'base.html' %}

{%block title %}In call Procedure{% endblock %}
{% block body_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Call in process...</h2><br><br>
        <h3>Hi, my name is {{ request.user.recruiter.name }} {{ request.user.recruiter.last_name }}, I am a Staff Recruiter from Barrister, a nation-wide agency providing full time jobs. I found your resume online and I believe you might be a good candidate for this position. Do you have a moment to discuss this opportunity?</h3><br><br>
        <p>Salary: {{ position.salary }}</p><br>
        <p>Job description: {{ position.description }}</p><br>
		<p>Required skills: {{ position.skills }}</p><br>
        {% for logtemplate in logtemplates %}
          <p><a class="btn btn-primary btn-lg" href="{% url 'disposition' position_id=position.id candidate_id=candidate.id logtemplate_id=logtemplate.id %}" role="button">{{ logtemplate.action }} &raquo;</a></p>
        {% endfor %}
      </div>
    </div>

{% endblock %}
