{% extends 'base.html' %}

{% block body_content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="center">
			<h1>Welcome, {{ recruiter }}!</h1>
			<p>Please choose one of the following Job Reqs to get started</p>
		</div>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
{% for position in positions %}

		<div class="col-md-4">
			<h2><a href="{% url 'candidates_view' position_id=position.id %}">{{ position.name }}</a></h2><br>
			<p>Anual Salary: {{ position.salary_anual }} </p>
			<p>Job location: {{ position.location }} </p>

		</div>
	{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class='row'>
	{% endif %}
{% endfor %}
	</div>
{% endblock %}

{% block else_content %}
<div class="jumbotron">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
        <h1 "page-header">Please log in to continue...</h1>
        </div>
    </div>
</div>
{% endblock %}

