{% extends 'base.html' %}

{% block body_content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="center">
			<h1>Welcome, {{ recruiter }}!</h1>
			<p>Please choose one of the following Job Reqs to get started</p>
		</div>
	</div>
</div>

<div class="container">
	<ul class="nav nav-pills">
		<li><a href="{% url 'jobs' %}">Full-time</a></li>
		<li class="active"><a id="1099" href="{% url 'jobs' %}">1099</a></li>
	</ul>
	<!-- Example row of columns -->
	<div class="row">
{% if positions %}
{% for position in positions %}

		<div class="col-md-4">
			<h2><a href="{% url 'candidates_view' position_id=position.id %}">{{ position.name }}</a></h2><br>
			<p>Anual Salary: {{ position.salary_anual }} </p>
			<p>Job location: {{ position.location }} </p>

		</div>
	{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class='row'>
	{% endif %}
{% endfor %}
	</div>
{% else %}
<h2>No positions to show</h2>	
{% endif %}
{% endblock %}
