 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'jobs' %}">Staff Recruiting</a>
          <a class="navbar-brand" href="{% url 'add_candidate' %}">Add Candidate</a>
        </div>
        <div id="navbar" class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
			<form method="post" action="{% url 'search' %}" enctype="multipart/form-data" class="navbar-form navbar-left">{% csrf_token %}
				<div class="form-group">
				  <input type="text" placeholder="Search" name='search'>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Submit</button>
			</form>
			<div class="navbar-form navbar-left">
			<button class="btn btn-primary btn-sm" type="button" data-toggle="dropdown">{{ user.recruiter.name }} {{ user.recruiter.last_name }}
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
				<li><a href="{% url 'logout' %}">logout</a></li>
			  </ul>
			</div>
		</div>
<!-- 			<form class='navbar-form navbar-right' method='POST' action="{% url 'logout' %}">{% csrf_token %}
				<button type='submit' class="btn btn-primary btn-sm">Logout</button>
		
			</form> -->
        {% else %}
		  </ul>
			<form class='navbar-form navbar-right' method='POST' action="{% url 'login' %}">{% csrf_token %}
			<div class='form-group'>
				<input type='text' class='form-control' name='username' placeholder='username'>
			</div>
			<div class='form-group'>
				<input type='password' class='form-control' name='password' placeholder='password'>
			</div>
			
			<button type='submit' class="btn btn-primary btn-sm">Login</button>
			</form>
			<ul>
        {% endif %}

          </ul>
<!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
-->
        </div>
      </div>
    </nav>

