 <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-left navbar-form navbar-center">
				<a class="navbar-brand" href="{% url 'jobs' %}"><span class="glyphicon glyphicon-user"></span> Staff Recruiting</a>
				{%if request.user.is_superuser %}
				<a class="navbar-brand" href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-eye-open"></span> Admin</a> {% endif %}
			</div>
		</div>
	{% if user.is_authenticated %}
		<div class="navbar-form navbar-right">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a data-toggle="dropdown" href=#>{{ user.recruiter.name }} {{ user.recruiter.last_name }}
			  <span class="glyphicon glyphicon-chevron-down"></span></a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li>
				<a href="{% url 'rec_profile' days=7 %}"><span class="glyphicon glyphicon-eye-open"></span> View my Profile</a>
				</li>
				<li>
				<a href="{% url 'main_wall' days=7 %}"><span class="glyphicon glyphicon-eye-open"></span> Main Wall</a>
				</li>
				<li>
				<a href="{% url 'add_candidate' %}"><span class="glyphicon glyphicon-plus"></span> Add Candidate</a>
				</li>
				<li>
				<a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> logout</a>
				</li>
				
			  </ul>
		</div>
				
		</ul>
		<div class="navbar-right navbar-form navbar-center">
			<form method="post" action="{% url 'search' %}" enctype="multipart/form-data" class="navbar-form navbar-left">{% csrf_token %}
				
				<input type="text" size="43" placeholder="Search candidates by name, email or phone #" name='search' class="form-control">
				<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span></button>
			</form>
		</div>


			
				</ul>
	{% else %}
		<div class="navbar-form navbar-right">
			<form class='navbar-form navbar-right' method='POST' action="{% url 'login' %}">{% csrf_token %}
				<div class='form-group'>
					<input type='text' class='form-control' name='username' placeholder='username'>
					<input type='password' class='form-control' name='password' placeholder='password'>
					<button type='submit' class="btn btn-primary btn-sm">Login</button>
			</form>
			</div>
		</div>
	{% endif %}

	 
	 
    
</div>
</nav>

