{% extends 'base.html' %}

{% block title %} Single Candidate view{% endblock %}
{% block body_content %}
{% load staticfiles %}
<br><br>

<div class="row">

	<div class="col-md-2 col-md-offset-5 placeholder">
		
		  <img src="http://vignette1.wikia.nocookie.net/criminal-case-grimsborough/images/2/26/Unknown_Character.png/revision/latest?cb=20141106142941" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		<div class="center">
		  <h4>{{ candidate.name }}</h4>
		  <span class="text-muted">{{ candidate.phone }}</span><br>
		  <span class="text-muted">{{ candidate.email }}</span><br>
		  <span class="text-muted"><a href="{{ candidate.resume.url }}">Candidate's resume</a></span>
		</div>
	</div>
	<div class="col-md-2 col-md-offset-1">
	<div class="row">
	  <p><a class="btn btn-primary btn-lg" href="{% url 'in_call' position_id=position.id candidate_id=candidate.id %}" role="button">Call now! &raquo;</a></p>

	</div>
	<div class="row">
	  <p><a class="btn btn-primary btn-lg" href="{% url 'send_email' candidate_id=candidate.id %}" role="button">Email this candidate! &raquo;</a></p>
	</div>
	</div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5 ">
	<div class="center">
		<h4>Interaction history</h4>
	</div>
  </div>
  <div class="col-md-8 col-md-offset-2">
	<table class="table table-striped">
	  <thead>
		<tr>
		  <th>Creation date</th>
		  <th>Action</th>
		  <th>Recruiter's name</th>
		  
		  <th>Notes</th>
		</tr>
	  </thead>
	  <tbody>


	{% for log in candidate.logs %}
		<tr>
		  <td>{{ log.created }}</td>
		  <td>{{ log.action }}</td>
		  <td>{{ log.recruiter }}</td>
		  
		  <td>{{ log.note }}</td>
		</tr>
	{% endfor %}

	  </tbody>
	</table>
  </div>
</div>

<br><br><br>
{% endblock %}